src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="controllers-aiport-infoFlow" doc:id="4dfe4dae-8e04-4505-83be-96005fbd0414" >
		<http:listener doc:name="GET /controllers at airpot" doc:id="541689f5-d18a-46e5-b61a-c48c8c2475d3" config-ref="HTTP_Listener_config" path="/controllers" allowedMethods="GET"/>
		<validation:is-true doc:name="checkIfQueryParamExists" doc:id="048a56ec-da81-495b-933b-88fb293308ae" expression="#[sizeOf(attributes.queryParams) &gt; 0]" message='#["query parameter not set."]'/>
		<set-variable value="#[attributes.headers.'x-rapidapi-key']" doc:name="Set header key to variable" doc:id="964b241b-04d9-4c4e-a510-6ff1b649ea70" variableName="headerKey" doc:description="Without this, airpot-info flow in trainees-by-experienceFlow fails. After select oepration, the attribute headers are all overwritten (like HTTP request operation) and thus the x key needs setting to a variable"/>
		<ee:transform doc:name='Set query to variable "query"' doc:id="c5423a3e-f4c5-4bad-accb-5e3e94562591" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java

var operator = attributes.queryString

var setQuery = (operator) -> 

if (contains(attributes.queryString, "airport") and not (contains(attributes.queryString, "experience")))
	"SELECT * FROM trainees WHERE airportiata = :airportParam"
else if (contains(operator, "le"))
	"SELECT * FROM trainees WHERE experience <= :experienceParam"
else if (contains(operator, "ge"))
	"SELECT * FROM trainees WHERE experience >= :experienceParam"
else
	"SELECT * FROM trainees WHERE experience = :experienceParam"

---

setQuery(operator)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="25e27417-b1a6-42a1-9c1d-a828cba7cad5" >
			<when expression='#[contains(attributes.queryString, "airport") and not (contains (attributes.queryString, "experience"))]'>
				<flow-ref doc:name="set-aiportcodeSub_Flow" doc:id="0b3f36eb-cfe2-4e95-8c59-5ebedae8b019" name="set-aiportcodeSub_Flow"/>
				<flow-ref doc:name="trainees-by-airportFlow" doc:id="63a21ca7-c211-48c5-9671-eb9c28c03c28" name="trainees-by-airportFlow" />
			</when>
			<when expression='#[contains(attributes.queryString, "experience") and not (contains (attributes.queryString, "airport"))]'>
				<set-variable value='#[%dw 2.0&#10;import dw::core::Strings&#10;&#10;output application/java&#10;&#10;&#10;var years = (queryString) -&gt;&#10;	if(contains(queryString, "le") or contains(queryString, "ge"))&#10;	     Strings::substringAfter(queryString, ":") as Number&#10;	else if(not (contains(queryString, "le") or contains(queryString, "ge")))&#10;		Strings::substringAfter(queryString, "=") as Number&#10;	else&#10;        null&#10;---&#10;&#10;years(attributes.queryString)]' doc:name="Set experience in year" doc:id="6347c4b7-4196-48d0-90e3-33a622920877" variableName="experienceYears"/>
				<flow-ref doc:name="trainees-by-experienceFlow" doc:id="1a5362ad-af5e-4f4d-b553-ff808be9deb1" name="trainees-by-experienceFlow" />
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="6be2f061-a323-4d82-ba11-92069a829fe9" name="trainees-infoFlow"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="tempFlow" doc:id="cb62f63d-aa7a-46d1-81d1-5e8caa9fbe9e" >
		<ee:transform doc:name="Transform Message 2" doc:id="ddb30775-32ce-43f6-b85f-89eed4142e6d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="experienceYears"><![CDATA[%dw 2.0
import dw::core::Strings

output application/java


var years = (queryString) ->
	if(contains(queryString, "le") or contains(queryString, "ge"))
	     Strings::substringAfter(queryString, ":") as Number
	else if(not (contains(queryString, "le") or contains(queryString, "ge")))
		Strings::substringAfter(queryString, "=") as Number
	else
        null
---

years(attributes.queryString)]]></ee:set-variable>
						<ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java

var operator = attributes.queryString

var setQuery = (operator) -> 

if (contains(attributes.queryString, "airport") and not (contains(attributes.queryString, "experience")))
	"SELECT * FROM trainees WHERE airportiata = :airportParam"
else if (contains(operator, "le"))
	"SELECT * FROM trainees WHERE experience <= :experienceParam"
else if (contains(operator, "ge"))
	"SELECT * FROM trainees WHERE experience >= :experienceParam"
else
	"SELECT * FROM trainees WHERE experience = :experienceParam"

---

setQuery(operator)]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
	</flow>
	<flow name="trainees-by-airportFlow" doc:id="8567a609-d083-43b0-9719-a30a38c54e8b" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="def76fb8-be54-481a-9a91-2dba3e95ec19">
			<route>
				<flow-ref doc:name="airport-infoFlow" doc:id="dd9ffed0-0e02-4da4-8d60-74de85acd3c8" name="airport-infoFlow" />
			</route>
			<route>
				<flow-ref doc:name="trainees-infoFlow" doc:id="ca8de277-5972-4995-9923-9e09677bc709" name="trainees-infoFlow" />
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="7f937867-ce81-417a-bef6-5048608eff2e" message="payload" />
		<ee:transform doc:name="Transform Message" doc:id="a57d31ce-f151-4d68-86ed-e0901f4fda67">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2e547978-7546-4919-8eea-a6f38060a718">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var airportInfo = payload."0".payload

---
payload."1".payload map ((obj, index) -> {
	ID: obj.id,
	name: obj.firstname ++" " ++ obj.lastname,
	email: obj.email,
	experienceYears: obj.experience,
	airport: airportInfo
}) orderBy -$.experienceYears


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="trainees-by-experienceFlow" doc:id="8a58dda1-3a84-4418-b7dc-88f744d6ce82">
		<flow-ref doc:name="trainees-infoFlow" doc:id="bd5d39f9-ea94-41cb-bf6a-68d7769965ba" name="trainees-infoFlow" target="traineeList"/>
		<ee:transform doc:name="create a list of airport code" doc:id="0a33dcc4-0bf2-458c-9238-6b93af80d550" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java

---
vars.traineeList map(obj, index) -> (obj.airportiata)
	]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<set-variable value="#[[]]" doc:name="Create an empty list for airport detail info" doc:id="8465b6bc-69b7-4d43-8a27-0ba89773e871" variableName="airportDetailList"/>
		<foreach doc:name="For Each" doc:id="26aa0586-8055-40a2-9df0-15fd0cc1d19c" >
			<flow-ref doc:name="set-aiportcodeSub_Flow" doc:id="c5bb08a3-5899-4d84-97c9-97de78cf9b37" name="set-aiportcodeSub_Flow" />
			<flow-ref doc:name="airport-infoFlow" doc:id="65f26a29-a052-4870-a536-942d1e8a3630" name="airport-infoFlow" />
			<ee:transform doc:name="Transform Message" doc:id="bdf680c2-6503-4d7d-a46d-a4f7d5e6f3b4">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="airportDetailList" ><![CDATA[%dw 2.0
output application/java

//var array = [payload]
//var pushAirport = (array) ->
//	vars.airportDetailList << array
---

vars.airportDetailList << [payload]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="4fd84c78-55f7-48a2-92bc-ae37019e9288" />
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="a3a31cc1-d8fe-4457-9f71-595cede3ae85">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[vars.traineeList, flatten(vars.airportDetailList)]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="set-aiportcodeSub_Flow" doc:id="b1f99759-d668-455f-ad30-99d072f4130b" >
		<ee:transform doc:name='Set airport code to variable "airportCode"' doc:id="29fce953-d569-4d56-b53a-5ef7f13f8022" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="airportCode" ><![CDATA[%dw 2.0
output application/java

var checkAttribute = attributes.queryParams.airport

var setAiportCodeToVariableAirportCode = (checkAttribute) ->
	if (isEmpty(checkAttribute))
		payload
	else 
		attributes.queryParams.airport

---

setAiportCodeToVariableAirportCode(attributes.queryParams.airport)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="airport-infoFlow" doc:id="6839902a-272e-4fc1-8274-215ab2b35bea" >
		<logger level="INFO" doc:name="Logger" doc:id="acd6e5ae-392b-4a59-b3ee-f7cb63e7d1a0" />
		<http:request method="GET" doc:name="Request" doc:id="bbcddfac-0441-4ad0-8143-34214ccae5f7" config-ref="HTTP_Request_IATA" responseTimeout="3000000" path="/airport">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Rapidapi-Key" : vars.headerKey
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"iata" : vars.airportCode
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="48b82e0e-7868-4f1d-8a0a-201c8a47e7dd" />
	</flow>
	<flow name="trainees-infoFlow" doc:id="188ae327-a824-4ca1-8e84-471496c76a8e" >
		<logger level="INFO" doc:name="Logger" doc:id="f0127806-1fd2-4779-b354-e471bae51588" />
		<db:select doc:name="Select" doc:id="e7a005c1-71e9-4928-a39b-3914e280c170" config-ref="Database_Config_Trainee">
			<db:sql ><![CDATA[#['$(vars.query)']]]></db:sql>
			<db:input-parameters ><![CDATA[#[{	
	"airportParam": vars.airportCode,
	"experienceParam": vars.experienceYears
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="e3ed8cd1-fa01-4c75-88ff-02b7efd7a884" />
	</flow>
</mule>
