src/main/mule/travel-info.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<flow name="airport-infoFlow" doc:id="6839902a-272e-4fc1-8274-215ab2b35bea" >
		<http:listener doc:name="Listener" doc:id="c2cd63f6-d5f8-42bf-b108-0c7540137a4f" path="/airport" allowedMethods="GET" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="acd6e5ae-392b-4a59-b3ee-f7cb63e7d1a0" />
		<http:request method="GET" doc:name="Request" doc:id="bbcddfac-0441-4ad0-8143-34214ccae5f7" config-ref="HTTP_Request_IATA" responseTimeout="3000000" path="/airport">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Rapidapi-Key" : attributes.headers.'x-rapidapi-key'
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"iata" : attributes.queryParams.iata
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="7bfa3968-2953-4e82-8565-55cd7bf4e632" />
	</flow>
</mule>
